html
    head
        include pure.pug
        include fonts.pug
        style
            include css/navBar.css
            include css/text.css
            include css/error.css
    body
        include navBar.pug
        div#error-container
            div#error
                div#error-message= message
                a.anchor(href="javascript:history.back()", id="try-again", class="pure-button") Try Again