#user-list-table {
    margin: 20px auto;
}

#display-by-category {
    display: flex;
    justify-content: center;
}

.user-input {
    margin: 0 5px;
}

#search {
    display: flex;
    justify-content: center;
}